<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | <%= firstName %>
    </title>
</head>

<body>
    <nav>
        <p><a href="/">PasswordManager</a></p>
        <div class="profileContainer">
            <img src="#" alt="User Logo">
            <p><%= firstName %></p>
        </div>
    </nav>
</body>

</html>