.enterDetails {
    width: 30vw;
    padding: 20px;
    box-sizing: border-box;
    margin: 20px auto;
    border: 1px solid #cccccca7;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.enterDetails h3 {
    text-align: center;
}

.enterDetails input {
    height: 40px;
    padding: 0 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    font-size: 100%;
}